body::-webkit-scrollbar{
    display: none;
}

body{
  overflow-y: no-content;
}

*{
  font-family: 'Noto Sans JP', sans-serif;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu{
  width: 16rem;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

#menu-btn-check:checked ~ .menu-trigger span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-trigger span:nth-of-type(2) {
  display: none;
}

#menu-btn-check:checked ~ .menu-trigger span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}

#menu-btn-check:checked {
  transform: rotate(360deg);
}

#menu-btn-check{
  display: none;
}

@keyframes anime{
  0%{
    width: 16rem;
  }100%{
    width: 5rem;
  }
}

@keyframes anime_reverse{
  0%{
    width: 5rem;
  }100%{
    width: 16rem;
  }
}

.animation_reverse{
  animation-name: anime_reverse;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: both;
}

.animation{
  animation-name: anime;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: both;
}